<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.turingoal.qh">
    <!-- 访问权限-访问网络连接 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 访问权限-获取网络信息状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 访问权限-WIFI状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 访问权限-WIFI变化 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 访问权限-震动-->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 访问权限-SD卡读写 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 访问权限-读取设备外部存储 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 访问权限-写入设备外部存储 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问权限-摄像头-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 访问权限-闪光灯-->
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <!-- 访问权限-设备信息 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 访问权限-拨打电话-->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 存储权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 硬件支持
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" /> -->
    <!-- rocoo(低版本问题) -->
    <uses-sdk tools:overrideLibrary="com.dodola.rocoo" />
    <!-- application配置 -->
    <application
        android:name="com.turingoal.common.app.TgApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <!--欢迎页面-->
        <activity
            android:name=".ui.activity.WelcomeActivity"
            android:theme="@style/AppTheme.appStart"></activity>
        <!--Main页面-->
        <activity android:name=".ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--道具商城页面-->
        <activity android:name=".ui.activity.MallActivity" />
        <!--排行榜页面-->
        <activity android:name=".ui.activity.RankActivity" />
        <!--请假页面-->
        <activity android:name=".ui.activity.LeaveActivity" />
        <!--加班申请页面-->
        <activity android:name=".ui.activity.OvertimeActivity" />
        <!--公告牌页面-->
        <activity android:name=".ui.activity.BillboardActivity" />
        <!--公司动态页面-->
        <activity android:name=".ui.activity.DynamicActivity" />
        <!--常用网址页面-->
        <activity android:name=".ui.activity.WebActivity" />
        <!--规章制度页面-->
        <activity android:name=".ui.activity.SystemActivity" />
        <!--签到历史页面-->
        <activity android:name=".ui.activity.SignInHistoryActivity" />
        <!--填写日报页面-->
        <activity android:name=".ui.activity.DailyAddActivity" />
        <!--日报历史页面-->
        <activity android:name=".ui.activity.DailyHistoryActivity" />
        <!--日报详情页面-->
        <activity android:name=".ui.activity.DailyDetailsActivity" />
        <!--填写周报页面-->
        <activity android:name=".ui.activity.WeeklyAddActivity" />
        <!--周报历史页面-->
        <activity android:name=".ui.activity.WeeklyHistoryActivity" />
        <!--周报详情页面-->
        <activity android:name=".ui.activity.WeeklyDetailsActivity" />
        <!--我的道具页面-->
        <activity android:name=".ui.activity.MallMyActivity" />
        <!--填写请假页面-->
        <activity android:name=".ui.activity.LeaveAddActivity" />
        <!--填写加班申请页面-->
        <activity android:name=".ui.activity.OvertimeAddActivity" />
        <!--备忘录页面-->
        <activity android:name=".ui.activity.MemoActivity" />
        <!--新建备忘录页面-->
        <activity android:name=".ui.activity.MemoAddActivity" />
        <!--修改备忘录页面-->
        <activity android:name=".ui.activity.MemoUpdateActivity" />
        <!--请假详情页面-->
        <activity android:name=".ui.activity.LeaveDetailsActivity" />
        <!--加班事情详情页面-->
        <activity android:name=".ui.activity.OvertimeDetailsActivity" />
        <!--公告牌详情页面-->
        <activity android:name=".ui.activity.BillboardDetailsActivity" />
        <!--添加网页页面-->
        <activity android:name=".ui.activity.WebAddActivity" />
        <!--网页更新页面-->
        <activity android:name=".ui.activity.WebUpdateActivity" />
        <!--网页浏览器页面-->
        <activity android:name=".ui.activity.WebpageActivity" />
        <!--全部任务页面-->
        <activity android:name=".ui.activity.HallAllActivity" />
        <!--指派任务页面-->
        <activity android:name=".ui.activity.HallAssignedActivity" />
        <!--常规任务页面-->
        <activity android:name=".ui.activity.HallConventionalActivity" />
        <!--悬赏任务页面-->
        <activity android:name=".ui.activity.HallRewardActivity" />
        <!--我的任务页面-->
        <activity android:name=".ui.activity.TaskActivity" />
        <!--等级规则页面-->
        <activity android:name=".ui.activity.LevelActivity" />
        <!--头衔规则页面-->
        <activity android:name=".ui.activity.HonorActivity" />
        <!--个人信息页面-->
        <activity
            android:name=".ui.activity.PersonalActivity"
            android:theme="@style/TranslucentTheme" />
        <!--成长记录页面-->
        <activity android:name=".ui.activity.AttributeActivity" />
        <!--审核任务页面-->
        <activity android:name=".ui.activity.AuditActivity" />
        <!--审核任务详情页面-->
        <activity android:name=".ui.activity.AuditDetailsActivity" />
        <!--考勤记录页面-->
        <activity android:name=".ui.activity.AttendanceActivity" />
        <!--团队成员页面-->
        <activity android:name=".ui.activity.TeamActivity" />
        <!--团队成员详情页面-->
        <activity
            android:name=".ui.activity.TeamDetailsActivity"
            android:theme="@style/TranslucentAppTheme" />
        <!--设置页面-->
        <activity android:name=".ui.activity.SettingActivity" />
        <!--修改地址页面-->
        <activity android:name=".ui.activity.AddressActivity" />
        <!--修改花名页面-->
        <activity android:name=".ui.activity.StageNameActivity" />
        <!--修改手机号页面-->
        <activity android:name=".ui.activity.PhoneActivity" />
        <!--修改QQ号页面-->
        <activity android:name=".ui.activity.TencentActivity" />
        <!--修改微信页面-->
        <activity android:name=".ui.activity.WechatActivity" />
        <!--修改电话页面-->
        <activity android:name=".ui.activity.TelephoneActivity" />
        <!--登录页面-->
        <activity
            android:name=".ui.activity.LoginActivity"
            android:theme="@style/TextInputLayoutAppTheme"></activity>
        <!--找回密码页面-->
        <activity
            android:name=".ui.activity.ForgetActivity"
            android:theme="@style/TextInputLayoutAppTheme" />
        <!--注册页面-->
        <activity android:name=".ui.activity.RegisterActivity" />
        <!--服务协议页面-->
        <activity android:name=".ui.activity.AgreementActivity" />
    </application>
</manifest>